/BEGIN direct_messages/sent.html.haml

= render :partial => 'menu'

- if @direct_messages
  %table.microposts
    - @direct_messages.each do |dm|
      %tr
        %td.gravatar
          = link_to gravatar_for(dm.recipient), dm.recipient

        %td.micropost
          %span.user= link_to dm.recipient.username, dm.recipient
          %span.content= dm.content
          %span.timestamp
            = time_ago_in_words(dm.created_at)
            ago.

/END direct_messages/sent.html.haml
