/BEGIN shared/_feed_item.html.haml

%tr
  %td.gravatar
    = link_to gravatar_for(feed_item.user), feed_item.user

  %td.micropost
    %span.user= link_to feed_item.user.username, feed_item.user
    %span.content= feed_item.content
    %span.timestamp
      Posted
      = time_ago_in_words(feed_item.created_at)
      ago.

  - if current_user?(feed_item.user)
  %td
    = link_to "delete", feed_item, :method => :delete,
                                   :confirm => "You sure?",
                                   :title => feed_item.content

/END shared/_feed_item.html.haml
